body {
    font-family: Arial, sans-serif;
    background-color: rgb(200, 232, 228);
}

h1 {
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #212020;
    padding: 8px;
}

th,tr {
    background-color: #f2f2f2;
}
section {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.volver{
    background-color: #2E588A;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 0.5rem;
    cursor: pointer;
    width: 100%;
  }
/* Estilos del formulario */
form {
    width: 600px;
    margin-top: 20px;
    margin-left: 400px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input[type="text"],
input[type="email"],
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type="submit"] {
    background-color: #2E588A;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    width: 100%;
}

button[type="submit"]:hover {
    background-color: #1A3558;
}

/* Estilo adicional para el botón "Volver" */
button.volver {
    background-color: #2E588A;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
}

button.volver:hover {
    background-color: #1A3558;
}

  